{% extends "OCCoreBundle::layout.html.twig "%}
{% block title %}
    {{ parent() }}-vue d'un trick
{% endblock %}
{% block nav %}
    <li ><a href="{{path('oc_core_homepage')}}"> <span class="glyphicon glyphicon-share-alt"></span> Retour à l'accueil</a></li>
    <li ><a href="{{path('oc_core_homepage')}}"> <span class="glyphicon glyphicon-barcode"></span> Présentation</a></li>
    <li ><a href="{{path('oc_core_homepage')}}"> <span class="glyphicon glyphicon-eye-open"></span> Description</a></li>
    <li ><a href="{{path('oc_core_homepage')}}"> <span class="glyphicon glyphicon-pencil"></span> Ecrire un commentaire</a></li>
    <li ><a href="{{path('oc_core_homepage')}}"> <span class="glyphicon glyphicon-list-alt"></span> Lire les commentaires</a></li>
    <li ><a href="{{path('oc_core_homepage')}}"> <span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
        <li><a href="{{path('oc_community_user_login')}}"><span class="glyphicon glyphicon-globe"></span> Se connecter</a></li>
      <li><a href="{{path('oc_community_user_register')}}"><span class="glyphicon glyphicon-user"></span> S'inscrire</a></li>
{% endblock %}
{% block body %}
   <div class="well text-center">
       <h1>{{ trick.title}}</h1>
       <img src="{{trick.url}}">
       <p>{{trick.content}}</p>
   </div> 
  {{ include("OCCommunityBundle:User:form.html.twig")  }}


{% endblock %}